<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Второстепенные новости</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <a class="btn btn-secondary col-2" style="margin-top: 20px; margin-left:20px" href="{% url 'index' %}" role="button">Главные новости</a>
    <div class="container col-9">
        <div class="row">
            <div class="text-center" style="margin-top: 20px">
                <h2>Второстепенные новости<h2>
            </div>
            <p class="text-justify">
                Пока у вас только одна запись. Она находится на странице, которая является вашей домашней
                или главной страницей. Если вы нажмете на заголовок записи, вы перейдете на саму запись.
                На первой или домашней странице вашего сайта представлены самые последние записи на сайте.
                Каждый заголовок записи будет ссылаться на полную версию. Некоторые дизайнеры тем создают
                свои отдельные страницы запесей, чтобы они выглядели иначе, чем домашняя страница.
            </p>
            <p class="text-justify">
                Пока у вас только одна запись. Она находится на странице, которая является вашей домашней
                или главной страницей. Если вы нажмете на заголовок записи, вы перейдете на саму запись.
                На первой или домашней странице вашего сайта представлены самые последние записи на сайте.
                Каждый заголовок записи будет ссылаться на полную версию. Некоторые дизайнеры тем создают
                свои отдельные страницы запесей, чтобы они выглядели иначе, чем домашняя страница.
            </p>
            <p class="text-justify">
                Пока у вас только одна запись. Она находится на странице, которая является вашей домашней
                или главной страницей. Если вы нажмете на заголовок записи, вы перейдете на саму запись.
                На первой или домашней странице вашего сайта представлены самые последние записи на сайте.
                Каждый заголовок записи будет ссылаться на полную версию. Некоторые дизайнеры тем создают
                свои отдельные страницы запесей, чтобы они выглядели иначе, чем домашняя страница.
            </p>
        </div>
</body>
</html>